# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr
out/

# Environment
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Test
/test-results/
/test-output/

# Database
*.db
*.sqlite
db.sqlite3
db.sqlite3-journal
